select {
    padding: 0;
    margin: 0;
    border: 3px solid #ccc;
    width: 100%;
    height:80%;
    border-radius: 10px;
    text-indent: 10px;
    background-color: #F7F7F7;
    box-shadow: none;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

select:focus {
    outline: none;
}

label {
    font-size: 14px;
}